<!DOCTYPE html>
<html lang="{{ site.language }}">

    <head>
        <title>{{ collections.all | setMyCustomOrder | setHeadTitle(page, site.name) | escape }}</title>
        {% include "partials/head-meta.njk" %}
    </head>

    <body class="is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header and Menu -->
            {% set header_class_alt = '' %}
            {# include "partials/header-and-menu.njk" #}

            <!-- Wrapper -->
            <section id="wrapper">

                <!-- Banner -->
                {% set banner_flg = false %}
                {% include "partials/banner.njk" %}

                <div class="wrapper">
                    <div class="inner" id="markdown-body">
                        <h2 class="major">{{ title | escape }}</h2>

                        <!-- Meta info -->
                        <ul class="meta-info">
                        {% for item in collections.all | setMyCustomOrder | getBreadcrumb(page) %}
                            {% if loop.last %}
                            <li>{{ item.title | safe }}</li>
                            {% else %}
                            <li><a href="{{ item.url }}">{{ item.title | safe }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        <p class="meta-date">
                            {% set created_date = 'N/A' %}
                            {% set modified_date = 'N/A' %}
                            {% if date %}{% set created_date = date | readableDate %}{% endif %}
                            {% if updated %}{% set modified_date = updated | readableDate %}{% endif %}
                            Created at {{ created_date }}, modified at {{ modified_date }}.
                        </p>

                        <!-- Main conntents -->
                        {% block contentMain %}{% endblock %}

                        <!-- Related articles -->
                        {% set items = collections.all | setMyCustomOrder | getCollectionsRelatedArticles(page) %}
                        {% if 0 < items.length %}
                        <section class="related-articles">
                            <hr />
                            <h2>Related articles...</h2>
                            {{ items | safe }}
                        </section>
                        {% endif %}

                    </div>
                </div>

            </section>

            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>

        <!-- Scripts -->
        {% include "partials/scripts.njk" %}
    </body>
</html>
