<!DOCTYPE html>
<html lang="{{ site.language }}">

    <head>
        <title>{{ collections.all | setMyCustomOrder | setHeadTitle(page, site.name) | escape }}</title>
        {% include 'partials/head-meta.njk' %}
        {% include 'partials/meta-analytics.njk' %}
    </head>

    <body class="is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header and Menu -->
            {% set header_class_alt = 'alt' %}
            {# include "partials/header-and-menu.njk" #}

            <!-- Banner -->
            {% set banner_flg = true %}
            {% include 'partials/banner.njk' %}

            <!-- Wrapper -->
            <section id="wrapper">

                <!-- One -->
                {% set item = collections.contentsSectionsWelcome[0] %}
                <section id="one" class="wrapper spotlight style1">
                    <div class="inner">
                        <img class="image" src="/images/{{ item.data.image }}" alt="" />
                        <div class="content">
                            <h2 class="major">{{ item.data.title | escape}}</h2>
                            {{ item.templateContent | safe }}
                        </div>
                    </div>
                </section>

                <!-- Two -->
                {% set item = collections.contentsSectionsWelcome[1] %}
                <section id="two" class="wrapper alt spotlight style2">
                    <div class="inner">
                        <img class="image" src="/images/{{ item.data.image }}" alt="" />
                        <div class="content">
                            <h2 class="major">{{ item.data.title | escape}}</h2>
                            {{ item.templateContent | safe }}
                            <ul class="site-map">
                                {% for item in collections.all | setMyCustomOrder | getCollectionsWelcomeMainContents() %}
                                <li><a href="{{ item.url }}">{{ item.title | safe }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>

                <!-- Three -->
                {% set item = collections.contentsSectionsWelcome[2] %}
                <section id="three" class="wrapper spotlight style3">
                    <div class="inner">
                        <img class="image" src="/images/{{ item.data.image }}" alt="" />
                        <div class="content">
                            <h2 class="major">{{ item.data.title | escape}}</h2>
                            {{ item.templateContent | safe }}
                            <ul class="recently">
                                {% for item in collections.myCustomSortRecentUpdated | getCollectionsWelcomeRecentUpdated(collections.all, 3) %}
                                <li>
                                    <a href="{{ item.url }}">{{ item.title | safe }}</a>
                                    {% if item.url != item.parent.url %}
                                    <br /><span class="small-1"> » <a href="{{ item.parent.url }}">{{ item.parent.title | safe }}</a></span>
                                    {% endif %}
                                    <br /><span class="small-2">{{ item.updated | readableDate }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>

            </section>

            <!-- Footer -->
            {% include 'partials/footer.njk' %}
        </div>

        <!-- Scripts -->
        {% include 'partials/scripts.njk' %}
    </body>
</html>
