{% set my_position = 'article' %}

{% extends "layouts/_post_base.njk" %}

{% block contentMain %}
    <!-- Main conntents, include ToC, Footer -->
    {{ content | safe }}

    <section id="who-am-i">
    {% for item in collections.contentsSectionsWhoAmI %}
    <h3><sup>#{{loop.index}}</sup> {{item.data.title|safe}}</h3>
<h4>{{item.data.description|safe}}</h4>
{{ item.templateContent | safe }}
    {% endfor %}
    </section>

{% endblock %}
