    <section id="footer">
        <div class="inner">
            <h2 class="major">More information...</h2>

            <div class="left-side">
                <!-- Site map -->
                <h3>Site map...</h3>
                <ul class="site-map">
                    {% for item in collections.all | setMyCustomOrder | getCollectionsFooter(page) -%}
                    <li>{% if item.active %}<span class="active">{{ item.title | safe }}</span>{% else %}<a href="{{ item.url }}">{{ item.title | safe }}</a>{% endif %}</li>
                    {% endfor %}
                    <li><a href="/feed.xml">RSS</a></li>
                    <li><a href="/sitemap.xml">Sitemap</a></li>
                </ul>
            </div>

            <div class="right-side">
                <!-- Who am I -->
                <h3>Who am I...</h3>
                <img class="image" src="/images/{{ site.author.avator }}" alt="" style="margin-top:0.4em;max-height:3.0em;" />
                <p>
                    {{ site.author.name }} aka. {{ site.twitter.user }}.<br />
                    FYI. <a href="/who_am_i/">Who Am I? / わたしはだぁれ？</a><br />
                    {% for item in social %}<a href="{{ item.url }}">{{ item.name | safe }}</a>{% if loop.last %}.{% else %}, {% endif %}{% endfor %}
                </p>
            </div>

            <div>
                <!-- Special thanks -->
                <h3>Special thanks...</h3>
                <p>
                    {% for item in thanks %}<a href="{{ item.url }}" title="{{ item.description | safe }}">{{ item.name | safe }}</a>{% if loop.last %}.{% else %}, {% endif %}{% endfor %}
                </p>
            </div>

            <ul class="copyright">
                <li>&copy; {{ site.author.name }} All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>

        </div>
    </section>

<!--
todo 2022-05-22:
feed.xml, sitemap.xml, who_am_i are to _data/site.json, url and title
copyrigh is thinking now...
-->
