    <section id="footer">
        <div class="inner">
            <h2 class="major">More information...</h2>

            <div class="left-side">
                <!-- Site map -->
                <h3>Site map...</h3>
                <ul class="site-map">
                    {% for item in collections.all | setMyCustomOrder | getCollectionsFooter(page) -%}
                    <li>{% if item.active %}<span class="active">{{ item.title | safe }}</span>{% else %}<a href="{{ item.url }}">{{ item.title | safe }}</a>{% endif %}</li>
                    {% endfor %}
                    {% for item in site.footer.sitemap -%}
                    <li><a href="{{ item.url }}">{{ item.title | escape }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="right-side">
                <!-- Who am I -->
                <h3>Who am I...</h3>
                <img class="image" src="/images/{{ site.author.avator }}" alt="" style="margin-top:0.4em;max-height:3.0em;" />
                <p style="margin-bottom:0;">
                    <span style="font-weight:bold;">{{ site.author.name | escape }}</span> aka. {{ site.twitter.user }}.<br />
                    FYI. <a href="{{ site.author.FYI.url }}">{{ site.author.FYI.title | escape }}</a><br />
                </p>
                <ul class="icons">
                    {% for item in socials %}<li><a href="{{ item.url }}" class="icon brands {{ item.fontawesome }}"><span class="label">{{ item.name | escape }}</span></a></li>{% endfor %}
                </ul>
            </div>

            <div class="special-thanks">
                <!-- Special thanks -->
                <h3>Special thanks...</h3>
                <p>
                    {% for item in thanks %}<a href="{{ item.url }}" title="{{ item.description | escape }}">{{ item.name | escape }}</a>{% if loop.last %}.{% else %}, {% endif %}{% endfor %}<br />
                    And <a href="{{ site.footer.github }}/commit/{{ buildInfo.hash }}">last built on {{ buildInfo.time.formatted }}, {{ buildInfo.hash }}</a>.
                </p>
            </div>

            <ul class="copyright">
                <li>&copy; {{ site.author.name | escape }} All rights reserved.</li>
                <li>Design &amp; template: <a href="{{ site.footer.copyright.design.url }}">{{ site.footer.copyright.design.title | escape }}</a></li>
                <li>Site template: <a href="{{ site.footer.copyright.template.url }}">{{ site.footer.copyright.template.title | escape }}</a></li>
            </ul>

        </div>
    </section>
